* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size-p: 1.25rem;
    --color-primary: rgb(248, 250, 252);
    --color-secondary: rgb(203, 213, 225);
    --color-text-span: rgb(248, 238, 100);
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(10, 10, 10);
    background-image: radial-gradient(circle at center,
            rgb(23, 23, 23) 0%,
            rgb(10, 10, 10) 100%)
}

section {
    padding: 10rem 2rem; /* Mucho aire arriba y abajo */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.nav-container {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-weight: bold;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-container h2 {
    color: var(--color-primary);
    letter-spacing: 5px;
}

.nav-ul-container {
    list-style: none;
    gap: 20px;
    display: flex;
    border-bottom: 3px;
}

.nav-ul-container a {
    text-decoration: none;
    color: var(--color-primary);
    border-bottom: 3px solid rgb(248, 250, 252);
}


.nav-item-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-item a {
    color: var(--color-primary);
    font-size: 2rem;
}

/*Estilos para el main*/

main {
    flex-grow: 1;
    text-align: center;
}

/*Estilos para section home*/

.home-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.home-texts-container {
    text-align: left;
    width: 30rem;
}

.home-texts-container h1 {
    font-size: 3.7rem;
    letter-spacing: 2px;
    color: var(--color-primary);
}

.home-texts-container span {
    color: var(--color-text-span);
    font-weight: bold;
}

.home-texts-container p {
    font-size: var(--font-size-p);
    color: var(--color-secondary);
    font-weight: 500;
    max-width: 25rem;
    margin: 2rem 0px 2.7rem;
    
    line-height: 1.5;
}

.home-socials-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.home-socials-container i {
    font-size: 2rem;
    color: var(--color-text-span);
    transition: 0.3s;
}

.home-socials-container i:hover {
    transform: scale(1.1);
}

.home-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img-container img {
    height: 20rem;
    width: 20rem;
}

.home-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.home-arrow i {
    margin-bottom: 6rem;
    font-size: 2.5rem;
    color: var(--color-text-span);
    transition: 0.3s;
}

.home-arrow i:hover {
    transform: scale(1.1);
}


/* Estilos about */

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h2 {
    color: var(--color-primary);
    margin-bottom: 2rem;
        font-size: 2.5rem;

}

.about-text-container {
    background: rgba(23, 23, 23, 0.6);
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    text-align: left;
    width: 40rem;
    padding: 2rem;
}

.about-text-container h3 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.about-text-container p {
    font-weight: 500;
    font-size: var(--font-size-p);
    color: var(--color-secondary);
    line-height: 1.6; /* Un buen detalle para que el texto respire */
}

.about-text-container span {
    color: var(--color-text-span);
    font-weight: bold;
}

.about-btn-container {
    display: flex;
    justify-content: space-around;
}

.about-btn-container a {
    text-decoration: none;
}

.about-btn {
    display: flex;
    position: relative;
    z-index: 1;
    overflow: visible;
    text-decoration: none;

    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 12.5rem;
    padding: 1rem;
    background: none;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: 0.3s;
}

.about-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: -1;
    transition: transform 0.2s ease;
}

.about-btn:hover:before {
    transform: scale(1.1);
}

.about-btn i {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.about-btn p {
    font-size: var(--font-size-p);
    color: var(--color-secondary);
    font-weight: 700;
    margin: 0;
}

/* Estilos proyects */

.projects-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-container h2 {
    color: var(--color-primary);
    font-size: 2.5rem;
}

.projects-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 65rem;
    /* Deja que el Grid controle el ancho */
    height: 30rem;
    /* Es mejor que el alto se ajuste al contenido */
    border-radius: 2rem;
    background-color: rgba(23, 23, 23, 0.6);
    /* El fondo oscuro que venimos usando */
    overflow: hidden;
    /* Para que la imagen respete el borde redondeado */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.projects-visual-col {
    width: 27rem;

}

.projects-img-noir {
    border-radius: 0.5rem;
    width: 100%;
    height: 15rem;
    background: url(asetss/noirsports-7ae91eb1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects-img-burger {
    border-radius: 0.5rem;
    width: 100%;
    height: 15rem;
    background: url(asetss/thenoirburgerjoint.netlify.app_.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.project-btn {
    display: flex;
    position: relative;
    z-index: 1;
    overflow: visible;

    background: none;
    width: 46%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    color: var(--color-primary);
    padding: 1rem;
    text-decoration: none;
}

.project-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: -1;
    transition: transform 0.2s ease;
}

.project-btn:hover::before {
    transform: scale(1.1);
}

.project-btn i {
    font-size: 1.5rem;
}

.project-btn p {
    font-size: var(--font-size-p);
    margin: 0;
    font-weight: 700
}

.project-btn p,
.project-btn i {
    pointer-events: none;
}

.projects-info-col {
    width: 27rem;
}

.projects-text-container {
    text-align: left;
    justify-content: center;
    width: 25rem;
}

.projects-text-container h3 {
    color: var(--color-primary);
    font-size: 2rem;
}

.projects-text-container p {
    font-size: var(--font-size-p);
    color: var(--color-secondary);
}

.projects-tech-container {
    margin-top: 2rem;
    width: 320px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background-color: rgb(27, 27, 27);
}

.projects-tech-img-js {
    height: 2rem;
    width: 2rem;
}

.projects-tech-img {
    height: 2rem;
    width: 2.5rem;
}


/* Estilos contacto */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text-container h2 {
    color: var(--color-primary);
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.contact-text-container p {
    justify-content: center;
    width: 30rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: var(--font-size-p);
}

.contact-text-container span {
    color: var(--color-text-span);
}

.contact-btn-container {
    background: rgba(23, 23, 23, 0.6);
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    padding: 2rem 6rem;
}

.contact-btn {
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.contact-btn i {
    font-size: 2rem;
    color: var(--color-text-span);
}

.contact-btn p {
    font-size: var(--font-size-p);
    color: var(--color-secondary);
    font-weight: bold;
}


.footer {
    background-color: rgb(245, 222, 179);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    padding: .5rem 0;
}
