* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-weight: 900;
}

/*Estilos para el nav*/

header {
    width: 100%;
    height: 4.5rem;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    margin: 0 8rem;
}


.nav-ul {
    list-style: none;
    gap: 20px;
    display: flex;
}

.nav-ul a{
    text-decoration: none;
    color: #000;
}


.nav-h2 {
    letter-spacing: 3px;
}

/*Estilos para el main*/

main {
    background-color: brown;
    flex-grow: 1;
    text-align: center;
}

/*Estilos para section home*/

.home-container {

    background-color: #f7f7f7;

    min-height: 850px;

    /*padding: 13rem 15rem 0px;*/

    display: flex;

    flex-direction: column;

    justify-content: center;

}

.home-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.home-texts {
    text-align: left;
    width: 30rem;
}

.home-texts h1 {
    font-size: 3.7rem;
    letter-spacing: 2px;
}

.home-texts span{
    color: rgb(57, 86, 167);
    /* O el color que más te guste */
    font-weight: bold;
}

.home-p {
    font-size: 1.2rem;
    font-weight: 500;
    width: 25rem;
    margin: 2rem 0px 2.7rem;
}

.home-icons  {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.home-icons img {
    width: 2rem;
    height: 2rem;
    
}

.home-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border-radius: 20px;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    /*background-color: bisque;*/
}

.home-img img {
    height: 20rem;
    width: 20rem;
}

.home-profile img{
    margin-top: 1.5rem;
    height: 2rem;
    width: 2rem;
}

.home-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-skills h3 {
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: -.02em;
    color: #000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;

}
/*
.skills {
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    box-sizing: border-box;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.skill-a img {
    height: 2.5rem;
    width: 2.5rem;
}

.skill-b img {
    height: 2.5rem;
    width: 2.5rem;
}

.skill-c img {
    height: 2.5rem;
    width: 2.5rem;
}
*/
.footer {
    background-color: wheat;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    padding: .5rem 0;
}